.PostCard {
	margin-bottom: 0.3rem;

	$cardElBackgroundColor: rgba(
		$color: #006,
		$alpha: 0.02
	);

	:global {
		.ant-card-actions {
			background-color: $cardElBackgroundColor;

			li > span {
				text-align: right;

				button {
					margin: 1rem;
				}
			}
		}

		.ant-card-head {
			background-color: $cardElBackgroundColor;

			.ant-card-extra {
				text-align: right;
			}

			.ant-card-head-title {
				text-align: center;
				white-space: pre-wrap;
				overflow: auto;
				text-overflow: initial;
			}
		}

		.ant-card-body {
			white-space: pre-wrap;
		}
	}
}
