.Page {
	min-height: 100dvh;

	.Logo {
		width: 100%;
		height: 3rem;
		padding: 0.3rem;
		background-image: url('../../assets/posts.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.Content {
		padding: 0.5rem;

		:global(.cell-button-group) {
			display: flex;
			width: 100%;
			justify-content: center;

			button {
				margin: 0 0.3rem;
			}
		}
	}
}

:global {
	.ant-modal-root {
		.ant-form-item {
			button {
				margin: 0 0.1rem;
			}
		}
	}
}
